.hero.is-info{
  background-color: white!important;
}
.hero-image {
  background: url("../../assets/house.png"), 100% 100% ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
