.nav-menu{
  display: flex;
  padding: 1rem;

  a{
    text-decoration: none;
    &:focus, &:hover, &:visited,{
      color: black;
    }
  }

  .logo {
    font-size: 1.5rem;
  }

  #header{
    margin-block-start: 0.5em!important;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-block-start: 0.5em!important;
    margin-left: auto;
    font-size: 0.9rem;

    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }

}